include _head
include _end

//- include ../../components/svg-sprite/svg-sprite

<!DOCTYPE html>
html(lang="ru")

  block vars

  +head()

  body

    .wrapper
      
      div.content

        block content


    +end()