block scripts

//- SVG-sprite
include ../mixins/_svg-sprite

//- ↓↓↓↓↓↓↓ Разкоммитить при подключении svg-спрайита ↓↓↓↓↓↓↓

//- .svg-sprite(style="display: none") 
//-   include ../../../build/img/symbol/svg-sprite.svg