.scripts(style="display: none")
  script(src="js/app.min.js")

//- ↓↓↓↓↓↓↓ Разкоммитить при подключении svg-спрайита ↓↓↓↓↓↓↓

//- .svg-sprite(style="display: none") 
//-   include ../../../build/img/symbol/svg-sprite.svg